# rancher node definitions
nodes:
{{ rke_nodes | to_nice_yaml(indent=2) | trim | indent(2, first=True)  }}

services:
  etcd:
    snapshot: true
    creation: 6h
    retention: 24h

# Set the name of the Kubernetes cluster  
cluster_name: {{ rancher_rke_cluster_name }}

{% if rke_cloud_provider is defined %}
# cloud provider
cloud_provider:
{{ rke_cloud_provider | to_nice_yaml(indent=2) | trim | indent(2, first=True)  }}
{% endif %}
